
header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all 0.5s ease;
    
  }
  
body {
  overflow: hidden;
  background-image: url("../assets/backround.png");
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Keeps the background image fixed during scrolling */
}
  
  .custom-logo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100px;
  }
  
  .custom-navbar {
    display: flex;
    margin-top :19px;
    list-style: none;
  }
  
  .custom-navbar a {
    text-decoration: none;
    margin: 0px 30px;
    color: #ededed;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    transition: all 0.5s ease;
  }
  .custom-navbar a:hover {
    color: #f53fa1;
  }
  
/* Position the search bar to the right of the screen */
.custom-searchBar {
    right: 0;
    display: flex;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease; /* Smooth animation for width change */
}

/* Styling for the icon */
.custom-searchBar i {
    display: flex;
    color: rgba(255, 255, 255, 0.4);
    font-size: 22px; /* Icon size */
    transition: 0.9s ease; /* Smooth color transition */
}

/* Hover effect for icon */
.custom-searchBar i:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* When the search bar is expanded */
.custom-searchBar.searchActive {
    width: 180px;
    padding: 0 10px; /* Add some padding */
    transition: 0.3s ease; /* Smooth color transition */
}

/* Input field is hidden initially */
.custom-searchInput {
    display: none;
    flex-grow: 1; /* Takes up remaining space when expanded */
    padding-left: 4px; /* Space between input and icon */
}

/* Show input field when search bar is expanded */
.custom-searchBar.searchActive .custom-searchInput {
    display: block;
}

/* Styling for input field */
.custom-searchInput input {
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    color: #ededed;
    font-size: 12px;
    outline: none; /* Prevent outline on focus */
    user-select: none; /* Prevent text selection */
}

  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
 
.btn-group {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  gap: 5%;
  flex-direction: column;
  margin-left: 30%;
}

.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#ededed;
	background-color:rgba(255,255, 255, 0.1);
	width: 200px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-decoration: uppercase; 
	border-radius: 8px;
	backdrop-filter: blur(10px);
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.2); /* Adjust color as needed */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
	transform: scale(1.05); /* Slightly scale up on hover */
	transition: all 0.2s ease-in-out;
  }

.pong {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.field {
	width: 400px;
	height: 230px;
	position: relative;
    border: 3px solid #ededed;

	
	@assets (max-width: 938px){
		top: 20%;
	}
	.net {
		width: 0;
		height: 98%;
		
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		
		border: 3px dotted #ededed;;
	}
	
	.ping, .pong {
		width: 4px;
		height: 16px;
		
		position: absolute;
		
		background:#ededed;
	}
	
	.ping {
		left: 6%;
		animation: ping 6s infinite linear;
	}
	
	.pong {
		right: 6%;
		animation: pong 6s infinite linear;
	}
	
	.ball {
		width: 5px;
		height: 5px;
		
		position: absolute;
		background: #ededed;
		
		animation: ball 6s infinite linear;
	}
}

/* ----- keyframes ------*/

@keyframes ball {
	0% {  
		top: 34%;
		left: 52%;
	}
	8.3% {  
		top: 52%;
		left: 90%;
	}
	24.9% {  
		top: 85%;
		left: 8%;
	}
	30% {
		top: 98%;
		left: 27%;
	}
	41.5% {  
		top: 70%;
		left: 90%;
	}
	58.1% {
		top: 55%;
		left: 8%;
	}
	74.7% { 
		top: 13%;
		left: 90%;
	}
	79% {
		top: 1%;
		left: 70%;
	}
	91.3% {
		top: 22%;
		left: 8%;
	}
	100% {
		top: 34%;
		left: 52%;
	}
}

@keyframes ping { 
	0% {
		top: 10%;
	}
	5% {
		top: 10%;
	}
	9% {
		top: 24%;
	}
	13% {
		top: 17%;
	}
	24.9% { 
		top: 82%;
	}
	47% {
		top: 37%;
	}
	52% {
		top: 41%;
	}
	56% {
		top: 64%;
	}
	58.1% {  
		top: 54%;
	}
	70% {
		top: 74%;
	}
	84% {
		top: 12%;
	}
	91.3% {  
		top: 18%;
	}
	100% {
		top: 10%;
	}
}

@keyframes pong { 
	0% {
		top: 90%;
	}
	8.3% {  
		top: 51%;
	}
	20% {
		top: 60%;
	}
	25% {
		top: 34%;
	}
	41.5% {  
		top: 68%;
	}
	46% {
		top: 36%;
	}
	52% {
		top: 18%;
	}
	58.1% {
		top: 53%;
	}
	66% {
		top: 14%;
	}
	70% {
		top: 20%;
	}
	74.7% {
		top: 10%;
	}
	91.3% { 
		top: 10%;
	}
	100% {
		top: 90%;
	}
}

 /* Media query for max-width: 938px */
 @assets (max-width: 1424px) {
	header{
		padding: 14px 2%;
		transition: .4s;
	}

	.custom-navbar a {
		padding: 5px 0;
		margin: 0px 20px;
	}
	.container {
	  flex-direction: column;
	  align-items: center;

	}
	.pong {
	  margin: 10% auto 0 auto;
		transition: .4s;

	}
	.btn-group {
	  margin: 5% auto;
	   gap: 15px; /* Added gap between buttons */
	   transition: .4s;
	
	}

  }
  
  @assets (max-width: 1000px) {
	.bx-menu{
		display: block;
	}
	.custom-navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 220px;
		height: 29vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.custom-navbar a {
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.custom-navbar.open {
		right: 2%;  /* This will be applied when the menu is clicked to slide it in */
	}
	.field {
	  top: 10%;
	  width: 350px;
	  height: 200px;
	  transition: .4s;
	}
	.btn-group {
	  margin: 6% auto;
	  transition: .4s;
	}

  }
  
  @assets (max-width: 470px) {
	.field {
	  display: none;
	}
  }

.active a {
    color: #f53fa1; 
}