
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
  
}
body {
  margin-top: 0;
  background-image: url("/frontend/assets/backround.png");
  background-size: 100% 100%;
}

.logo-image {
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 100px;
}

.navbar {
  display: flex;
  margin-top :19px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  margin: 0px 30px;
  color: #ededed;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #f53fa1;
}


.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: #ededed;
  transition: all 0.5s ease;
}
.user {
  text-decoration: none;
  margin-top: 0px; 
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.user i {
  font-size: 27px;
}

.main a:hover {
  color: #f53fa1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Cursed Timer ULiL', sans-serif;
}

.gameArea{
  position: absolute;
  width: 1100px;
  height: 600px;
  background: #071a3199;
  top: 295px;
  border: #111 1px solid; 
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.paddle {
  height: 80px;
  width: 12px;
  position: absolute;
  top: 255px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}


.paddle2{
  right: 0;
  background: #00ECFF;
  box-shadow: 0 0 5px #00ECFF, 0 0 15px #00ECFF;

}
.paddle1{
  margin-top: 0;
  background: #F53FA1;
  box-shadow: 0 0 5px #F53FA1, 0 0 15px #F53FA1;

}

.ball {
  position: absolute;
  height: 15px;
  width: 15px;
  background: rgba(255,255, 255, 0.9);
  border-radius: 3px;
  left: 541px;
  top: 283px;
  box-shadow: 0 0 8px #ededed;
}

.net{
  position: absolute;
  border-right: 5px rgba(255,255, 255, 0.1) dashed;
  height: 100%;
  left: calc(50% - 4px);
}

.score {
  position: absolute;
  top :400px;
  z-index: 1;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: rgba(255,255, 255, 0.2);
  font-size: 200%;
}

.player1Score {
  left: calc(50% - 80px);
}
.player2Score {
  right: calc(50% - 80px);
}

.startText{
  position: absolute;
  color: rgba(255,255, 255, 0.9);
  top:800px;
  z-index: 2;
  text-align: center;
}
