
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all 0.5s ease;
    
  }
  
  body {
    overflow: hidden;
    background-image: url("../assets/backround.png");
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
    }
    
  .custom-logo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100px;
  }
  
  .custom-navbar {
    display: flex;
    margin-top :19px;
    list-style: none;
  }
  
  .custom-navbar a {
    text-decoration: none;
    margin: 0px 30px;
    color: #ededed;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    transition: all 0.5s ease;
  }
  .custom-navbar a:hover {
    color: #f53fa1;
  }

/* Position the search bar to the right of the screen */
.custom-searchBar {
  right: 0;
  display: flex;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease; /* Smooth animation for width change */
}

/* Styling for the icon */
.custom-searchBar i {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
  font-size: 22px; /* Icon size */
  transition: 0.9s ease; /* Smooth color transition */
}

/* Hover effect for icon */
.custom-searchBar i:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* When the search bar is expanded */
.custom-searchBar.searchActive {
  width: 180px;
  padding: 0 10px; /* Add some padding */
  transition: 0.3s ease; /* Smooth color transition */
}

/* Input field is hidden initially */
.custom-searchInput {
  display: none;
  flex-grow: 1; /* Takes up remaining space when expanded */
  padding-left: 4px; /* Space between input and icon */
}

/* Show input field when search bar is expanded */
.custom-searchBar.searchActive .custom-searchInput {
  display: block;
}

/* Styling for input field */
.custom-searchInput input {
  width: 100%;
  padding: 5px;
  background: transparent;
  border: none;
  color: #ededed;
  font-size: 12px;
  outline: none; /* Prevent outline on focus */
  user-select: none; /* Prevent text selection */
}
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .Registr{
    width: 460px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2 );
    color: #ededed;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .Registr h1 {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
  }
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ededed;
    padding: 20px 45px 20px 20px;  
  }
  
  .input-box input::placeholder{
    color: rgba(255, 255, 255, 0.2);
  }
  
  .input-box i {
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .Registr .btn{
    width: 100%;
    height: 45px;
    background: #ededed;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
  }
  
  .Registr .btn:hover{
    background-color: #00ECFF; /* Adjust color as needed */
      box-shadow: 0 0 40px #f53fa1; /* Add a subtle shadow */
      transform: scale(1.05); /* Slightly scale up on hover */
      transition: all 0.3s ease-in-out;
  }
  
  .Registr .btn:active {
    transform: scale(0.95); /* Slightly scale down */
    box-shadow: 0 0 20px #f53fa1; /* Subtle shadow effect */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Quick transition for click */
  }
  
  #error{
    display: flex;
    justify-content: center;
    font-size: 14px; 
    margin: -15px 0 15px;
    color:  #E57373;
  }

  .active a {
    color: #f53fa1; 
  }


  @media (max-height: 1100px) {
    .username {
      top: 17%;
    }
  }

  